.App {
  display: flex;
  width: 100%;
  align-content: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formlabel {
  margin-left: 10px;
  margin-right: 20px;
}

.tab {
  tab-size: 2;
}

.mainForm {
  text-align: center;
  padding: 2vh 5vh 3vh 0;
  box-shadow: 0 8px 20px 0#d8d7d7;
  width: auto;
  height: auto;
}
